<!DOCTYPE html>
<html>
  <head>
    <title>WidgetEnlist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="row">
    <div class="d-block">
      <%= render partial: 'layouts/navbar' %>
    </div>
    <div class="container d-block mt-5 pt-4">
      <%= render partial: 'layouts/notification_bar' %>
      <%= yield %>
    </div>
  </body>
</html>
